<a href="https://colab.research.google.com/github/teksingozde/Amazon_Vine_Analysis/blob/main/Vine%20Review%20Analysis/pandas_Vine_Review_Analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Import dependencies
import pandas as pd

In [ ]:
# Import the data into a DataFrame
df = pd.read_csv("vine_table.csv")
df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
0,RQ58W7SMO911M,4.0,2.0,3.0,N,N
1,RF6IUKMGL8SF,3.0,5.0,5.0,N,N
2,R1DOSHH6AI622S,4.0,1.0,22.0,N,N
3,RATOTLA3OF70O,5.0,2.0,2.0,N,N
4,R1TNWRKIVHVYOV,4.0,0.0,2.0,N,N

In [ ]:
# Filter for reviews with at least twenty votes
popular_df = df.loc[df["total_votes"] >= 20].sort_values("review_id")
popular_df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
6098065,R1000BCEH7QNBW,1.0,6.0,46.0,N,N
3914440,R1000BCEH7QNBW,1.0,6.0,46.0,N,N
957971,R1000UGKRPZ8M9,2.0,8.0,29.0,N,N
3987556,R1000UGKRPZ8M9,2.0,8.0,29.0,N,N
808949,R1001DGX1MVKUM,3.0,16.0,111.0,N,N

In [ ]:
# Filter for reviews where at least half of the votes mark them as helpful
helpful_df = popular_df.loc[(popular_df["helpful_votes"] / popular_df["total_votes"]) >= 0.5].sort_values("review_id")
helpful_df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
5584631,R1001GCNUFG47T,4.0,19.0,22.0,N,Y
2903711,R1001GCNUFG47T,4.0,19.0,22.0,N,Y
1689488,R1001YD2Y0FX1N,4.0,20.0,25.0,N,Y
4795008,R1001YD2Y0FX1N,4.0,20.0,25.0,N,Y
2784244,R10026PKTLJBWE,5.0,78.0,93.0,N,Y

In [ ]:
nonvine_df = helpful_df.loc[helpful_df["vine"] == "N"].sort_values("review_id")
nonvine_df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
5584631,R1001GCNUFG47T,4.0,19.0,22.0,N,Y
2903711,R1001GCNUFG47T,4.0,19.0,22.0,N,Y
1689488,R1001YD2Y0FX1N,4.0,20.0,25.0,N,Y
4795008,R1001YD2Y0FX1N,4.0,20.0,25.0,N,Y
2784244,R10026PKTLJBWE,5.0,78.0,93.0,N,Y

In [ ]:
# Count up the reviews
total_count = helpful_df["review_id"].count()
total_count

807614